<div id="toolbar" style="padding: 2px; border-bottom: 1px solid lavender;"></div>
<div class="row">
<div class="col-md-2 col-lg-2 hidden-xs">
<div id="sidebar" style=" width: 100%; float: left;"></div>
</div>
<div class="col-md-10 col-lg-10 col-xs-10" id="flatSidebar">

<div class="row" id="map-div">
<div class="col-md-12 col-lg-12">
<div id="map"></div> 
<div class="row" id="map-comparison" style="display: none;">
    <span class="col-md-6 col-lg-6">
        <div id="header-left"></div>
        <div id="map1"></div>
    </span>
    <span2 class="col-md-6 col-lg-6" style="border-left: 1px solid grey;">
        <div id="header-right"></div>
        <div id="map2"></div>
    </span2>
</div>
</div>

</div>

<div class="row" id="chart-div" style="display: none;">
<div class="col-md-6 col-lg-6" id="charts-div2">
<p>Yearly Statistics:</p>
<canvas id="canvas" style="background-color: #fff;width: 100%;"></canvas>
</div>
<div class="col-md-6 col-lg-6" id="pops-no">
<p>Statistical comparisons between years.</p>
<div class="row" id="pop-no">
    <div class="col-md-3 col-lg-3">
        <select name="year1" id="year1" class="form-control" style="margin-top: 5px; margin-bottom: 5px;">
    <option value="1995">1995</option>
    <option value="2000">2000</option>
    <option value="2005">2005</option>
    <option value="2010">2010</option>
    <option value="2015">2015</option>
    <option value="2020">2020</option>
</select>
    </div>
    <div class="col-md-2 col-lg-2" style="margin-top: 10px;"><p>With</p></div>
    <div class="col-md-3 col-lg-3">
        <select name="year2" id="year2" class="form-control" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                <option value="2020">2020</option>
                    <option value="2015">2015</option>
                        <option value="2010">2010</option>
                            <option value="2005">2005</option>
                                <option value="2000">2000</option>
                                    <option value="1995">1995</option>



</select>
    </div>
        <div class="col-md-2 col-lg-2" style="margin-top: 10px;"><button type="button" id="compare_btn" class="btn btn-primary">Compare</button> </div>
</div>
<canvas id="canvas2" style="background-color: #fff;width: 100%;"></canvas>
</div>
</div>

</div>

</div>

