<div id="toolbar" style="padding: 2px; border-bottom: 1px solid lavender;"></div>
<div class="row">
<div class="col-md-2 col-lg-2 hidden-xs">
<div id="sidebar" style=" width: 100%; float: left;"></div>
</div>
<div class="col-md-10 col-lg-10 col-xs-10" id="flatSidebar">

<div class="row">
<div class="col-md-12 col-lg-12" id="map-div">
<div id="map">
</div> 
</div>

</div>

</div>

</div>

